*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.login_container{
  padding-top: 5em;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_heading{
  margin-bottom: 1rem;
}
.form {
  background-color: rgb(79, 73, 73);
  color: white;
  height: 230px;
  width: 350px;
  padding: 15px 30px 0 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(149, 145, 145);
}
form {
  display: flex;
  flex-direction: column;
}
form > input {
  border-radius: 15px;
  padding: 1em;
  margin: 6px;
  width: 25eem;
}
.form>button{
    background-color: black;
    border: 0.5px solid white;
    color: white;
    width: 6.5em;
    height: 2.5em;
    margin-left: 12px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.form>a{
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  margin-left: 20px;
  padding: 3px;
}
.form>a:hover{
  background-color: rgb(67, 61, 73);
}

p>:first-child{
    list-style: none;
    
}

@media screen and (max-width:750px) {
   

}

